body {
  background-color: #D169A3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Almarai', sans-serif;
}

.circle {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-color: #FF6F91;
}

.login-form {
  width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.form-control {
  border: 1px solid #ced4da;
  height: 48px;
  margin-bottom: 15px;
}

.Boton_Login {
  background-color: #FF6F91;
  color: #ffffff;
  border: none;
  height: 50px;
  font-size: 16px;
}

.Links {
  color: #FF6F91;
  text-decoration: none;
}

.Links:hover {
  text-decoration: underline;
}

p {
  font-size: 14px;
}
