<nav class="navbar">

    <div class="button-container">
        <button class="Salir" (click)="cerrarSesion()"> 
            <img src="../../../assets/Img/Salir.png" alt="Salir" />Salir
        </button>

        <button class="btn regresar-btn" (click)="regresar()">
            <img src="../../../assets/Img/regresar.png" alt="Regresar" class="regresar-img"/>Regresar
        </button>
    </div>


    <div class="Estilo">
        <span>{{Globales.ObtenerEstilo()}}</span>
    </div>

    <div class="user-info">
        <span *ngIf="Globales.Token() != null" class="username">{{Globales.Usuario()}}</span>
        <div class="user-circle" [ngClass]="getEstiloColor()"></div>
    </div>

     <!-- Aquí pasas el objeto 'usuario' al componente hijo -->
  
</nav>